@font-face {
    font-family: 'iconfont';  /* project id 962867 */
    src: url('https://at.alicdn.com/t/font_962867_w5jenwqvljl.eot');
    src: url('https://at.alicdn.com/t/font_962867_w5jenwqvljl.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_962867_w5jenwqvljl.woff') format('woff'),
    url('https://at.alicdn.com/t/font_962867_w5jenwqvljl.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_962867_w5jenwqvljl.svg#iconfont') format('svg');
  }