*{
	margin: 0;
	padding: 0;
}
.head{
	background-color: #d71418;
}
.head1{
	width: 950px;
	margin: auto;
	height: 36px;
	color: #FFFFFF;
	background-color: #000000;
}
.head1 a{
	text-decoration: none;
	color: #FFFFFF;
	line-height: 36px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 5px;
}
.head1 span{
	float: right;
}
.head1 img{
	width: 20px;
	height: 20px;
}
.head2{
	width: 950px;
	margin: auto;
	height: 120px;
	background: url(../images/img1/p2024399489.jpg) 50%;
	background-size: cover;
}
.head3{
	width: 950px;
	margin: auto;
	height: 30px;
	color: #FFFFFF;
	background-color: #000000;
	margin-bottom: 15px;
}
.head3 ul{
	list-style: none;
}
.head3 li{
	display: inline-block;
	line-height: 30px;
	margin-right: 10px;
	margin-left: 10px;
}
.head3 a{
	text-decoration: none;
	display: inline-block;
	height: 30px;
	color: #FFFFFF;
	padding: 0 5px;
}
.head4{
	width: 950px;
	margin: auto;
	height: 25px;
	color: #FFFFFF;
	background-color: #000000;
	margin-bottom: 5px;
}
.head4 h3{
color: #fff;
padding-left: 10px;
height: 25px;
line-height: 25px;
font-weight: 700;
font-size: 12px;
}
.head5{
	width: 950px;
	margin: auto;
	color: #FFFFFF;
	margin-bottom: 5px;
}
.head5 p{
	margin: 0;
	font-size: 12px;
}
.head6{
	width: 950px;
	margin: auto;
	background-color: #000000;
	margin-bottom: 25px;
	margin-top: 20px;
	color: #FFFFFF;
	padding: 10px 0;
}
.head6 p{
	margin: 0;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 700;
	margin-bottom: 5px;
}
.head6 input{
	width: 60%;
	height: 30px;
}
.head6 button{
	width: 50px;
	height: 30px;
	background-color: #d71418;
	border: none;
}
.head7{
	width: 950px;
	margin: auto;
	background-color: #000000;
	margin-bottom: 25px;
	margin-top: 20px;
	color: #FFFFFF;
	padding: 10px 0;
}