<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue03</title>
</head>
<body>
    <!-- 建立一个托管区域 -->
    <div id="app">
        <!-- 
            数据绑定
            vue可以通过简单的特定的语法，把
            data里面的数据显示在页面上面
         -->
         用户名<input type="text" v-model="userName" placeholder="请输入用户名">
         <span>{{userName.length<=0?"用户名必填":""}}</span><br>
         密码<input type="password" v-model="pwd" placeholder="请输入密码">
         <span>{{pwd.length<=0?"密码必填":""}}</span>
         <!-- 
             在表单元素里，如果要绑定，则使用v-model------value
             其他元素我们可以使用 v-html v-text {{}}  -------innerHTML/innerText
          -->
         <hr>
    </div>

    <!-- 
        在vue 里面还提供一种非常好的机制
        数据联动机制
     -->
</body>
<!-- 第一步先导入vue文件 -->
<script src="../js/vue.js"></script>
<script>
//创建vue对象
new Vue({
    el:"#app",

    //接管页面的区域  只要是#app里面的区域 都要从data里面获取
    data:{
        userName:"",
        pwd:""
    }
})
</script>
</html>