<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue09</title>
    <style>
        .table1{
       
        border: 1px solid black;
        /* 去除表格单元格的空隙 */
         border-collapse: collapse;
    }
    .table1 tr td{
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <!-- 建立一个托管区域 -->
    <div id="app">
        <!-- 
            v-show="false" 相当于 diaplay:none
         -->
        <h1 v-show="true">标题一</h1>
        <hr>
        <!-- 
            v-if="false" 相当于注释掉这段代码
            v-else
            v-else-if
         -->
        <h2  v-if="false">标题二</h2>
        <h3 v-else>标题三</h3>

        <h3 v-if="0>1">1124</h3>
        <h3 v-else-if="0==1">2222</h3>
        <h3 v-else="0<1">1111</h3>
    </div>
    <!-- 
        在vue 里面还提供一种非常好的机制
        数据联动机制
     -->
</body>
<!-- 第一步先导入vue文件 -->
<script src="../js/vue.js"></script>
<script>
    //创建vue对象
    new Vue({
        el: "#app",

        //接管页面的区域  只要是#app里面的区域 都要从data里面获取
        data: {
           userName:""
        }
    })
</script>

</html>