<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
		<frameset rows="20%,*" frameborder="no">
		<frame src="/top" scrolling="no"/>
		<frameset cols="15%,*"  frameborder="no" scrolling="no">
			<frame src="/left" scrolling="no"/>
			<frame src="/center" name="right" scrolling="no" />
		</frameset>
	</frameset>
</html>
