<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="../stylesheets/3.css" />
	</head>
	<body>
		<div class="head">
			<div class="head1">
				<a href="" style="color: red;">亲,请登录</a>
				<a href="">免费注册</a>
				<span>
					<a href=""><img src="../images/img1/购物车_1.png" />购物车</a>
				</span>
			</div>
			<div class="head2">
			</div>
			<div class="head3">
				<ul>
					<li><a href="">所有分类</a></li>
					<li><a href="">黑胶唱片</a></li>
					<li><a href="">CD</a></li>
					<li><a href="">LD影碟</a></li>
					<li><a href="">黑胶器材</a></li>
					<li><a href="">国内唱片</a></li>
					<li><a href="">国外唱片</a></li>
					<li><a href="">网站公告</a></li>
					<li><a href="">附加价值</a></li>
					<li><a href="">网站会员</a></li>
				</ul>
			</div>
			<div class="head4">
				<h3>
					<span>网站公告</span>
				</h3>
			</div>
			<div class="head5">
				<p>
					<span>欢迎'迷墙'官方网站！  本店网址：http://localhost:8000（wh武汉+ly黑胶）  主营：欧美唱片</span>
				</p>
				<p>
					<span>电话：18269722639            QQ、微信：670942082  18269722639</span>
				</p>
				<p>
					<span>本私人网站支持圆通快递、顺丰快递等，默认发圆通快递。江浙沪满150元、其他满300元（边远满500元）包邮。</span>
				</p>
				<p>
					<span>1: 下单时请认清载体：LP、LD、CD和DVD。另：单声道及立体声都有盘标可放大图片查看，不明之处可联系客服，谢谢！</span>
				</p>
				<p>
					<span>2: 本网站只认可客观的质量问题，不接受主观的听感问题。</span>
				</p>
				<p>
					<span>3: 黑胶品相我们一定把好关，对于品相、音效挑剔的恕本网站不能办到，所以请亲们见谅！</span>
				</p>
			</div>
			<div class="head6">
				<p>
					<span>本网站搜索</span>
				</p>
				关键字:<input type="text" /><button>确定</button>
			</div>
			<div class="head7">
				<p>
					<span>最新上架</span>
				</p>
			</div>
		</div>
	</body>
</html>
