<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../stylesheets/4.css" />
	</head>
	<body>
		<div class="head">
			<ul>
					<li class="li">
					<ul>
						<details>
							<summary>商品表管理</summary>
							<ul>
							<li><a href="" target="right">查看</a></li>
							<li><a href="/add1" target="right">增加</a></li>
							<li><a href="/see1" target="right">删除</a></li>
							</ul>
						</details>
					</ul>
					</li>
					
					<li class="li">
					<ul>
						<details>
							<summary>用户表管理</summary>
							<ul>
							<li><a href="" target="right">查看</a></li>
							<li><a href="" target="right">增加</a></li>
							<li><a href="" target="right">删除</a></li>
							</ul>
						</details>
					</ul>
					</li>
					
					<li class="li">
					<ul>
						<details>
							<summary>购物车表管理</summary>
							<ul>
							<li><a href="" target="right">查看</a></li>
							<li><a href="" target="right">增加</a></li>
							<li><a href="" target="right">删除</a></li>
							</ul>
						</details>
					</ul>
					</li>
					
					<li class="li">
					<ul>
						<details>
							<summary>订单表管理</summary>
							<ul>
							<li><a href="" target="right">查看</a></li>
							<li><a href="" target="right">增加</a></li>
							<li><a href="" target="right">删除</a></li>
							</ul>
						</details>
					</ul>
					</li>
					
</ul>
			</div>
	</body>
</html>
