<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Image-less CSS3 Glowing Form Implementation</title>
	<script src="../javascripts/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/1.css">
	<script>
		$(function(){
		  var $form_inputs =   $('form input');
		  var $rainbow_and_border = $('.rain, .border');
		  
		  $form_inputs.bind('focus', function(){
		  	$rainbow_and_border.addClass('end').removeClass('unfocus start');
		  });
		  $form_inputs.bind('blur', function(){
		  	$rainbow_and_border.addClass('unfocus start').removeClass('end');
		  });
		  $form_inputs.first().delay(800).queue(function() {
			$(this).focus();
		  });
		});
	</script>
	</head>
	<body id="home">
		<div class="rain">
			<div class="border start">
				<form>
					<label for="name">姓名</label>
					<input name="name" type="text" placeholder="请输入姓名"/>
					<label for="pass">密码</label>
					<input name="pass" type="password" placeholder="请输入密码"/>
                    <input type="submit" value="注册"/>
				</form>
			</div>
		</div>
	</body>
</html>
